<!DOCTYPE html>
<html>
<head>
  <title>c13iscuit's film index</title>
  <link href="styling.css" media="screen" rel="stylesheet"/>
</head>
<body>
  <h1>Films</h1>
  <div class = "movie-container-left">
  <%@page_array = @films_array[0..19]
  @page_array.each {|key, value|%><a class = "movie-link" href = "/movies/<%="#{key[:movie_id]}"%>"><%="#{key[:title]}"%></a><br><%}%>
  </div>
  <div class = "movie-container-right">
  <%@page_array = @films_array[20..39]
  @page_array.each {|key, value|%><a class = "movie-link" href = "/movies/<%="#{key[:movie_id]}"%>"><%="#{key[:title]}"%></a><br><%}%>
  </div>
  <br>
  <div class = "bottom">
  <br>
  <br>
  <form action="/movies" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />
    <input type="submit" value="Search" />
    <br>
    <br>
    <a href = "/movies">Home</a>
    <a href = "/movies?page=2">Next Page</a>
  </form>
  </div>
</body>
</html>
